.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
    padding: 0 0 0 10px;
    font-weight: 100;
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

#angle1 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}
#angle2 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}
#angle3 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}
#angle4 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}
#angle5 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}
#angle6 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}
#angle7 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}
#angle8 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}
#angle9 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}
#angle10 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}
#angle11 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}
#angle12 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}
#angle13 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}
#angle14 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}
#angle15 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}
#angle16 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}
#angle17 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}
#angle18 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}
#angle19 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}
#angle20 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}
#angle21 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}
#angle22 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}
#angle23 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}
#angle24 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}
#angle25 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}
#angle26 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}
#angle27 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}
#angle28 {
    transition-duration: 0.5s;
    transition-property: -webkit-transform;
    transition-property: transform;
}



/* Title for HUCS in legend */
#legendDiv_huc8_1::before{
 content: "Hydrologic unit code (HUC8)";
 font-weight: bold;
}

/* Hiding the default title from the service */
#legendDiv_huc8 .esriLegendServiceLabel {
    display: none;
   } 

/* Hiding layer name */
.esriLegendLayerLabel {
    display: none;
}

/* #legendDiv_huc8 table tbody tr td{
    display: none;
} */