html, body {
    height: 100%;
    overflow:hidden;
}

body {
    padding-top: 50px;
    background-image: url("../images/wimlogoCompact.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color:#474747;
}

#aboutNav,
#userGuideNav,
#faqNav{
    /*background-color: #474747;*/
    background: 0 0;
    background-color: transparent !important;
    font-size: 8pt !important;
    border: none;
    line-height: 16px !important;
    /*padding-top: 0;*/
    /*padding-bottom: 0;*/
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    top: 0px !important;
    transition: .2s;
    padding: 0 5px !important;
    color: rgba(255,255,255,.35);
}


#aboutNav,
#userGuideNav,
#faqNav{
    letter-spacing: 2px;
    position: relative; top: 2px;
    transition: 0.2s;
    color: rgba(255,255,255,0.35);
}
#aboutNav:hover,
#userGuideNav:hover,
#faqNav:hover{
    cursor: pointer;
    color: rgba(255,255,255,1);
    transition: 0.2s;
}
#aboutNav:focus,
#userGuideNav:focus,
#faqNav:focus{
    outline: none;
}

.keepit100 {
    height: 100%;
}

@media (max-width: 767px) {
    #geosearchButtonText {
        display: none;
    }

    #legendButtonNavBar {
        display: none;
    }

    /*.basemapThumb {*/
    /*display: none;*/
    /*}*/
}

.overflow-y-hidden {
    overflow-y: hidden;
}

@media (min-width: 768px) {
    #legendButtonSidebar {
        display: none;
    }
}

.basemapThumb {
    border:1px solid #ffffff;
    border-radius: 5px;
}

/*basemapBtn elements manually set to width of widest - temp solution until dynamic solution is implemented */
.basemapBtn {
    width: 86px;
    margin-bottom: 2px;
    padding:2px;
}


.esriSimpleSliderTL {
    top: 5px;
    left: 5px;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
}

#homeButton {
    position: absolute;
    top: 75px;
    left: 5px;
    z-index: 50;
}

#locateButton {
    position: absolute;
    top: 115px;
    left: 5px;
    z-index: 50;
}

.hover-content {
    display:none;
}

.identification {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 9pt;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 0 0 8px;
    opacity: .75;
    text-align: center;
    color: #6E7490;
}

.latLngScale {
    position:absolute;
    padding:4px;
    bottom:1.6em;
    left: 20px;
    /*width:250px*/
    /*height:320px;*/
    z-index:1;
    color: black;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
}

.latLngScale:hover .hover-content {
    display:inline-block;
}

.lyrTogDiv {
    width: 100%;
    padding: 1px;
    font-weight: bold;
}

.alert {
    margin-top: 0px;
    margin-bottom: 0px;
}

#legendDiv {
    overflow-y: auto;
    width: 300px;
    /*max-height: inherit;*/
}

#legendCollapse {
    /*max-height: inherit;*/
}

/*#legendElement {*/
/*position:absolute;*/
/*padding:4px;*/
/*top:1em;*/
/*right:10px;*/
/*z-index:1;*/
/*color: black;*/
/*background-color: rgb(255,255,255);*/
/*background-color: rgba(255,255,255,0.8);*/
/*box-shadow: 0 1px 5px rgba(0,0,0,0.65);*/
/*min-width: 200px;*/
/*border-radius: 4px;*/
/*overflow: auto;*/

/*}*/

.alert-info {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.legendClass {
    position:absolute;
    top:5px;
    right:5px;
    z-index:3;
    color: black;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    /*min-width: 150px;*/
    border-radius: 4px;
}

.legendHeading {
    color: black;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
    text-decoration: none !important;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    padding-left: 10px;
}

#legendButtonSidebar {
    width: 100%;
}

.lgi-zoom {
    color: white;
    background-color: black;
    border: none !important;
    padding: 5px 5px !important;
}

a.lgi-zoom {
    color: white;
}

a.lgi-zoom:hover {
    color: black;
}

.lyrTog {
    width: 100%;
    padding: 1px;
    font-weight: bold;
}

.map {
    overflow: auto;
}

#mapDiv {
    min-height: 100%;
    max-height: 100%;
}

.opacity {
    padding-left: 10px;
}

.opacitySlider {
    position: absolute;
    color: white;
    width: 200px;
    padding: 10px;
    /*padding-bottom: 40px;*/
    opacity: 0.8;
    border: solid 1px white;
    background-color: black;
    z-index: 1000;
    border-radius: 5px;
}

.modal-dialog {
    padding-top: 60px;
}

.modal{
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

#chartModal {
    width: 100%;
    min-height: 100%;
    z-index: 1000000;
    display: block;
    margin: 0 auto;
}

#tableModal {
    width: 100%;
    min-height: 100%;
    display: block;
    margin: 0 auto;
    z-index: 1000000;
}

.siteInfoClass {
    position:absolute;
    width:365px;
    height:450px;
    z-index:2;
    color: black;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    /*min-width: 150px;*/
    border-radius: 4px;
    visibility: hidden;
}

.constSelect {
    width: 175px;
}

#carbonSelect,#majorIonsSelect,#salinitySelect,#sedimentSelect,#pesticideSelect,#algaeSelect,#fishSelect,#macroinvertSelect {
    display: none;
}

#disclaimerButtons {
    box-sizing: border-box;
    padding: 0 25px 35px 25px;
}

.navbar-brand {
    padding:7px 4px;
}

.navbar-dark {
    border-width:0;
    background-color:#474747;
    color:#ffffff;
    font-family:arial,sans-serif;
    top:0;
    position:fixed;
    width:inherit;
}

.no-col-padding {
    padding: 0;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: gray;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.row-map {
    background: #eee;
}


[class*="col-"] {
    background-color: #eee;
    border: 1px solid #E7E7E7;
    text-align: center;
}

#wim_logo {
    background: #000 0 0;
    border-radius: 5px;
    width: 45px;
}

#wim_logo:hover{
    background: blue none repeat scroll 0 0;
    cursor: pointer;
}

.wim-sidebar-panel {
    margin-bottom: 2px;
}

#sidebar {
    top: 50px;
    padding-bottom: 50px;
}
input[type="checkbox"], input[type="radio"] {
    float: left;
}

.zoomDialog {
    position: absolute;
    color: white;
    /*width: 200px;*/
    padding: 5px;
    /*padding-bottom: 40px;*/
    opacity: 0.9;
    border: solid 1px white;
    background-color: black;
    z-index: 1000;
    border-radius: 5px;
}

.zoomClose {
    color: white;
}


/*Additional styles - mitch 12/13/2016*/
.constituent-panel{
    box-sizing: border-box;
    padding: 15px 15px;
}
.constituent-panel select{
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    height: 40px;
    line-height: 38px;
}
.constituent-panel label{
    display: block;
    text-align: center;
}
.constituent-panel .sidebar-radio-wrapper{
    display: block;
    box-sizing: border-box;
    padding: 4px 0;
}
.constituent-panel .sidebar-radio-wrapper input{
    margin-right: 10px;
    position: relative;
    top: -1px;
}
#siteInfoMin,
#dropdown-toggle,
.dropdown-toggle{
    display: none;
}
#siteInfoClose{
    box-sizing: border-box;
    padding: 3px 10px;
}

.charts-modal{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
}
.charts-modal-column{
    display: block;
    box-sizing: border-box;
    padding: 15px;
    min-width: 150px;
    width: 250px;
    text-align: center;
}
.charts-modal-column h1{
    display: block;
    box-sizing: border-box;
    padding: 0 0 15px 0;
    font-size: 14pt !important;
}
.charts-modal-column img{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}

.esriLegendLayer svg{
    height: 30px;
    line-height: 30px;
}


/*Remove powered by esri*/
.esriControlsBR{
    display: none !important;
}


/*Learn More Modal*/
.learn-more-modal-table{
    display: block;
    width: 100%;
}
.learn-more-modal-table-item{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
}
.learn-more-modal-table-item b{
    display: block;
    width: 100%;
}

.learn-more-aquatic-row{
    display: -webkit-flex;
    display: flex;
    width: 100%;
    max-width: 350px;
    margin: 4px auto;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font-size: 8pt;
}
.learn-more-aquatic-row span{
    width: 50%;
}


.modal-title{
    font-weight: 400;
    position: relative;
    top: 5px;
    max-width: 90%;
}


/*Frequently Asked Questions*/
.faq-modal-body{
    display: block;
    box-sizing: border-box;
    padding: 30px 25px;
}
.faq-header{
    display: block;
    font-size: 12pt;
    margin-bottom: 8px;
    background-color: #F5F5F5;
    color: #555555;
    box-sizing: border-box;
    transition: 0.12s;
    padding: 10px;
}

.faq-header i{
    margin-left: 10px;
}
.faq-header:hover{
    cursor: pointer;
    color: #6184DB;
    transition: 0.12s;
}

.faq-body{
    display: none;
    line-height: 1.6em;
    color: #555555;
    font-size: 10.35pt;
    box-sizing: border-box;
    padding: 10px 10px;

}
.faq-body img{
    display: block;
    max-width: 100%;
    margin: 10px auto;
}



/*Geosearch Form*/

.geosearch-form{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.geosearch-form #geosearch,
.geosearch-form .checkbox{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.esriGeocoderContainer{
    margin: 0 auto 10px auto;
}
.geosearch-buttons{
    margin-top: 25px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

/*User Guide Modal*/
.user-guide-header{
    display: block;
    text-align: center;
    font-size: 16pt;
    box-sizing: border-box;
    padding: 10px 0 25px 0;
}

.user-guide-item{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 15px;
}
.user-guide-item:nth-child(even){
    background-color: rgba(0,0,0,0.04);
}

.user-guide-item .user-guide-item-image{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    width: 180px;
    min-width: 150px;
    height: 100px;
}
.user-guide-item img{
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}
.user-guide-item p{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-grow: 2;
    flex-grow: 2;
    padding-left: 15px !important;
    padding-right: 10px !important;
    box-sizing: border-box;
}



/*Nav Tweaks*/
#aboutNav,
#faqNav,
#userGuideNav{
    color: rgba(255,255,255,0.8);
}
#geosearchNav{
    background-color: rgba(69,116,204, 0.5) !important;
    border: none !important;
}
#geosearchNav:hover{
    background-color: rgba(69,116,204, 1) !important;
}



/*Legend Adjustments*/
#legendDiv{
    min-height: 220px;
}


/*Long title header*/
.header-longtitle{
    font-size:16px;
    display:inline-block;
    font-weight: lighter;
    letter-spacing: -0.2px !important;
    line-height: 20px !important;
    padding-top: 9px !important;
}
.header-longtitle small{
    display: block;
    height: 10px;
    line-height: 10px;
    font-size: 9pt;
    letter-spacing: -0.25px;
}
.navbar-brand{
    padding-left: 0 !important;
}
