html, body {
    height: 100%;
    overflow:hidden;
    -webkit-font-smoothing: antialiased;
    font-weight: 400 !important;

}

body {
    padding-top: 50px;
    background-image: url("../images/wimlogoCompact.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color:#474747;
}

.nav-tabs li a{
    font-weight: 500 !important;
}

a:hover{
    cursor: pointer;
}

#aboutNav,
#userGuideNav,
#faqNav{
    /*background-color: #474747;*/
    background: 0 0;
    font-weight: 600 !important;
    background-color: transparent !important;
    font-size: 8pt !important;
    border: none;
    line-height: 16px !important;
    /*padding-top: 0;*/
    /*padding-bottom: 0;*/
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    top: 0px !important;
    transition: .2s;
    padding: 0 5px !important;
    color: rgba(255,255,255,.35);
}


#aboutNav,
#userGuideNav,
#faqNav{
    letter-spacing: 2px;
    position: relative; top: 2px;
    transition: 0.2s;
    color: rgba(255,255,255,0.55);
}
#aboutNav:hover,
#userGuideNav:hover,
#faqNav:hover{
    cursor: pointer;
    color: rgba(255,255,255,1);
    transition: 0.2s;
}
#aboutNav:focus,
#userGuideNav:focus,
#faqNav:focus{
    outline: none;
}

.keepit100 {
    height: 100%;
}

@media (max-width: 767px) {
    #geosearchButtonText {
        display: none;
    }

    #legendButtonNavBar {
        display: none;
    }

    /*.basemapThumb {*/
    /*display: none;*/
    /*}*/
}

.overflow-y-hidden {
    overflow-y: hidden;
}

@media (min-width: 768px) {
    #legendButtonSidebar {
        display: none;
    }
}

#sidebar{
    overflow: auto !important;
}
.basemapThumb {
    border:1px solid #ffffff;
    border-radius: 5px;
}

/*basemapBtn elements manually set to width of widest - temp solution until dynamic solution is implemented */
.basemapBtn {
    width: 86px;
    margin-bottom: 2px;
    padding:2px;
}


.esriSimpleSliderTL {
    top: 5px;
    left: 5px;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
}

#homeButton {
    position: absolute;
    top: 75px;
    left: 5px;
    z-index: 50;
}

#locateButton {
    position: absolute;
    top: 115px;
    left: 5px;
    z-index: 50;
}

#supportedSearchText {
    text-align: left;
    display: inline-block;
}

.hover-content {
    display:none;
}

.identification {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 9pt;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 0 0 8px;
    opacity: 1 !important;
    text-align: center;
    color: #6E7490;
    transition: 0.15s;
}
.identification a{
    transition: 0.15s;
    color: #6E7490 !important;
}
.identification a:hover{
    transition: 0.15s;
    color: rgba(0,0,0,0.9) !important;
}

.latLngScale {
    position:absolute;
    padding:4px;
    bottom:1.6em;
    left: 20px;
    /*width:250px*/
    /*height:320px;*/
    z-index:1;
    color: black;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
}

.latLngScale:hover .hover-content {
    display:inline-block;
}

.lyrTogDiv {
    width: 100%;
    padding: 1px;
    font-weight: bold;
}

.alert {
    margin-top: 0px;
    margin-bottom: 0px;
}

#legendDiv {
    overflow-y: auto;
    width: 300px;
    /*max-height: inherit;*/
}

#legendCollapse {
    /*max-height: inherit;*/
}

/*#legendElement {*/
/*position:absolute;*/
/*padding:4px;*/
/*top:1em;*/
/*right:10px;*/
/*z-index:1;*/
/*color: black;*/
/*background-color: rgb(255,255,255);*/
/*background-color: rgba(255,255,255,0.8);*/
/*box-shadow: 0 1px 5px rgba(0,0,0,0.65);*/
/*min-width: 200px;*/
/*border-radius: 4px;*/
/*overflow: auto;*/

/*}*/

.alert-info {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.legendClass {
    position:absolute;
    top:5px;
    right:5px;
    z-index:3;
    color: black;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    /*min-width: 150px;*/
    border-radius: 4px;
}

.legendHeading {
    color: black;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
    text-decoration: none !important;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    padding-left: 10px;
}

#legendButtonSidebar {
    width: 100%;
}

.lgi-zoom {
    color: white;
    background-color: black;
    border: none !important;
    padding: 5px 5px !important;
}

a.lgi-zoom {
    color: white;
}

a.lgi-zoom:hover {
    color: black;
}

.lyrTog {
    width: 100%;
    padding: 1px;
    font-weight: bold;
}

.map {
    overflow: auto;
}

#mapDiv {
    min-height: 100%;
    max-height: 100%;
}

.opacity {
    padding-left: 10px;
}

.opacitySlider {
    position: absolute;
    color: white;
    width: 200px;
    padding: 10px;
    /*padding-bottom: 40px;*/
    opacity: 0.8;
    border: solid 1px white;
    background-color: black;
    z-index: 1000;
    border-radius: 5px;
}

.modal-dialog {
    padding-top: 60px;
    padding-top: 0;
    margin-bottom: 55px !important;

}

.modal{
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

#chartModal {
    width: 100%;
    min-height: 100%;
    z-index: 1000000;
    display: block;
    margin: 0 auto;
}

#tableModal {
    width: 100%;
    min-height: 100%;
    display: block;
    margin: 0 auto;
    z-index: 1000000;
}
#tableModal .modal-dialog{
    width: 90%;
}



.handsontable table thead th {
    white-space: pre-line;
    max-width: 250px; /* enter here your max header width */
}

.siteInfoClass {
    position:absolute;
    width:450px;
    height:325px;
    z-index:2;
    color: black;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    /*min-width: 150px;*/
    border-radius: 4px;
    visibility: hidden;
}

.charts-sbdown {
    display: none;
}

option.tooltip {
    position: relative;
}

option.tooltip span {
    display: none;
}

option.tooltip:hover span, option.tooltip:focus span {
    display:block;
    position:absolute;
    top:1em;
    left:1.5em;
    padding: 0.2em 0.6em;
    border:1px solid #996633;
    background-color:#FFFF66;
    color:#000;
}

.constSelect {
    width: 175px;
}

#carbonSelect,#majorIonsSelect,#salinitySelect,#sedimentSelect,#pesticideSelect,#algaeSelect,#fishSelect,#macroinvertSelect {
    display: none;
}

#disclaimerButtons {
    box-sizing: border-box;
    padding: 0 25px 35px 25px;
}

.navbar-brand {
    padding:7px 4px;
}

.navbar-dark {
    border-width:0;
    background-color:#474747;
    color:#ffffff;
    font-family:arial,sans-serif;
    top:0;
    position:fixed;
    width:inherit;
}

.no-col-padding {
    padding: 0;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: gray;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.row-map {
    background: #eee;
}


[class*="col-"] {
    background-color: #eee;
    border: 1px solid #E7E7E7;
    text-align: center;
}

#wim_logo {
    background: #000 0 0;
    border-radius: 5px;
    width: 45px;
}

#wim_logo:hover{
    background: blue none repeat scroll 0 0;
    cursor: pointer;
}

.wim-sidebar-panel {
    margin-bottom: 2px;
}

#sidebar {
    top: 50px;
    padding-bottom: 50px;
}
input[type="checkbox"], input[type="radio"] {
    float: left;
}

.zoomDialog {
    position: absolute;
    color: white;
    /*width: 200px;*/
    padding: 5px;
    /*padding-bottom: 40px;*/
    opacity: 0.9;
    border: solid 1px white;
    background-color: black;
    z-index: 1000;
    border-radius: 5px;
}

.zoomClose {
    color: white;
}


/*Additional styles - mitch 12/13/2016*/
.constituent-panel{
    box-sizing: border-box;
    padding: 15px 15px;
}
.constituent-panel select{
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    height: 40px;
    line-height: 38px;
}
.constituent-panel label{
    display: block;
    text-align: center;
}
.constituent-panel .sidebar-radio-wrapper{
    display: block;
    box-sizing: border-box;
    padding: 4px 0;
}
.constituent-panel .sidebar-radio-wrapper input{
    margin-right: 10px;
    position: relative;
    top: -1px;
}
#siteInfoMin,
#dropdown-toggle,
.dropdown-toggle{
    display: none;
}
#siteInfoClose{
    box-sizing: border-box;
    padding: 3px 10px;
}

.charts-modal{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
}
.charts-modal-column{
    display: block;
    box-sizing: border-box;
    padding: 15px;
    min-width: 150px;
    width: 250px;
    text-align: center;
}
.charts-modal-column h1{
    display: block;
    box-sizing: border-box;
    padding: 0 0 15px 0;
    font-size: 14pt !important;
}
.charts-modal-column img{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}

.esriLegendLayer svg{
    height: 30px;
    line-height: 30px;
}


/*Remove powered by esri*/
.esriControlsBR{
    display: none !important;
}


/*Learn More Modal*/
.learn-more-modal-table{
    display: block;
    width: 100%;
}
.learn-more-modal-table-item{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
}
.learn-more-modal-table-item b{
    display: block;
    width: 100%;
}

.learn-more-aquatic-row{
    display: -webkit-flex;
    display: flex;
    width: 100%;
    max-width: 350px;
    margin: 4px auto;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font-size: 8pt;
}
.learn-more-aquatic-row span{
    width: 50%;
}


.modal-title{
    font-weight: 400;
    position: relative;
    top: 5px;
    max-width: 90%;
}


/*Frequently Asked Questions*/
.faq-modal-body{
    display: block;
    box-sizing: border-box;
    padding: 30px 25px;
}
.faq-header{
    display: block;
    font-size: 12pt;
    margin-bottom: 8px;
    background-color: #F5F5F5;
    color: #555555;
    box-sizing: border-box;
    transition: 0.12s;
    padding: 10px;
}

.faq-header i{
    margin-left: 10px;
    transition: all 2s linear;
}
.faq-header:hover{
    cursor: pointer;
    color: #6184DB;
    transition: 0.12s;
}

.faq-body{
    display: none;
    line-height: 1.6em;
    color: #555555;
    font-size: 10.35pt;
    box-sizing: border-box;
    padding: 10px 10px;

}
.faq-body img{
    display: block;
    max-width: 100%;
    margin: 10px auto;
}



/*Geosearch Form*/

.geosearch-form{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.geosearch-form #geosearch,
.geosearch-form .checkbox{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.esriGeocoderContainer{
    margin: 0 auto 10px auto;
}
.geosearch-buttons{
    margin-top: 25px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

/*User Guide Modal*/
.user-guide-header{
    display: block;
    text-align: center;
    font-size: 16pt;
    box-sizing: border-box;
    padding: 10px 0 25px 0;
}

.user-guide-item{
    display: block;
    box-sizing: border-box;
    padding: 35px 15px 35px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.user-guide-item:nth-child(even){
    background-color: rgba(0,0,0,0.04);
}

.user-guide-item .user-guide-item-image{
    display: inline-block;
    width: 100%;
    height: 100px;
}
.user-guide-item img{
    display: block;
    height: 100%;
    margin: 0 auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    border: 4px solid rgba(0,0,0,0.15);
}
.user-guide-item p{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-grow: 2;
    flex-grow: 2;
    padding-left: 15px !important;
    padding-right: 20px !important;
    box-sizing: border-box;
    font-size: 12pt;
}
.user-guide-item p b{
    color: rgba(0,0,0,0.6);
    display: block;
    font-weight: bolder;
    padding-bottom: 10px;
}



/*Nav Tweaks*/
#aboutNav,
#faqNav,
#userGuideNav{
    color: rgba(255,255,255,0.8);
}
#geosearchNav{
    background-color: rgba(69,116,204, 0.5) !important;
    border: none !important;
}
#geosearchNav:hover{
    background-color: rgba(69,116,204, 1) !important;
}



/*Legend Adjustments*/
#legendDiv{
    min-height: 220px;
}


/*Long title header*/
.header-longtitle{
    font-size:16px;
    display:inline-block;
    letter-spacing: -0.2px !important;
    line-height: 20px !important;
    padding-top: 9px !important;
}
.header-longtitle small{
    display: block;
    height: 10px;
    line-height: 10px;
    font-size: 9pt;
    letter-spacing: -0.25px;
}
.navbar-brand{
    padding-left: 0 !important;
}



.abouttab-inner{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.abouttab-inner p{
    display: inline-block;
    -webkit-flex-grow: 2;
    flex-grow: 2;
    width: 300px;
    box-sizing: border-box;
    padding: 0 25px;
}

.abouttab-inner p small{
    font-size: 8pt;
    display: block;
    padding-top: 15px;
}
.abouttab-inner .image{
    display: inline;
    padding-right: 15px;
    max-width: 300px;
    margin: 0 auto;

}

.abouttab-inner img{
    width: 100%;
}

.fullsize:hover{
    cursor: pointer;
    transform:scale(1.05);
    -webkit-transform: scale(1.05);
    transition: 0.2s;
}


.download-table-btn{
    float: right;
    position: relative;
    top: -4px;
}



.charts-model-loading,
.cml{
    display: inline;
}
.cml img,
.charts-model-loading img{
    height: 30px;
}


.footer-links{
    display: block;
    box-sizing: border-box;
    padding: 0 5px;
    line-height: 1em;
    opacity: 0.75;
}
.footer-links a{
    display: inline-block;
    box-sizing: border-box;
    padding: 0px 4px;
    font-size: 8pt;
}

#trendResultHelp{
    display: none;
    opacity: 0.75;
    transition: 0.1s;
}
#trendResultHelp:hover{
    cursor: pointer;
    opacity: 1;
    transition: 0.1s;
}
#trendResultsHelpBox{
    display: none;
    box-sizing: border-box;
    padding: 35px;
    color: #000;
    background-color: #F3F3F3;
    width: 90%;
    margin: 25px auto 10px auto;
    border: 1px solid rgba(0,0,0,0.25);
}

/*Charts and table button*/
#charts,
#table{
    position: relative;
    top: 3px;
}

/*.ht_master{
    overflow: auto !important;
}
.handsontable{
    overflow: auto !important;
}
.innerBorderTop{
    overflow: auto !important;
}*/

/*.ht__selection--columns{
    overflow: auto !important;
}*/


/*Data table header hover for more info*/
.htCore th{

}
.htCore th:after{
    display: none;
    position: fixed;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 300px;
    left: 50%;
    margin-left: -150px;
    top: 200px;
    clear: both;
    float: left;
    z-index: 5000;
    background-color: #3A3E3E;
    /*background-color: #F3F3F3;*/
    font-size: 8.5pt;
    line-height: 1.4em;
    color: white;
    /*color: rgba(0,0,0,0.7);*/
    font-weight: 600;
}
.htCore th:hover:after{
    display: block;
}

.htCore th:nth-child(1):after,
.htCore th:nth-child(3):after,
.htCore th:nth-child(11):after{
    display: none;
}
.htCore th:nth-child(2):after{
    content: "Concentration is the amount of the constituent in the stream. Load is the mass of the constituent transported past the sampling point in a stream during a period of time. A metric is an index calculated to represent a specific characteristic of aquatic communities. Changes over time in water-quality concentration and load and changes in aquatic ecology-metrics can be strongly influenced by random and systematic variations in streamflow. Flow normalization removes the variation in concentration, load, or metric that is due to variations in streamflow. As a result, concentration and load trends are flow normalized and aquatic ecology metric trends are flow normalized. See FAQ #17 for more information.";
}
.htCore th:nth-child(4):after{
    content: 'The trend is "likely" when this value is greater than 0.85. The trend is "somewhat likely" when this value is between 0.70 and 0.85. The trend is "about as likely as not" when this value is less than 0.70. This likelihood-based approach is used as an alternative to the null-hypothesis significance testing approach that is often used when reporting water-quality trends. See User Guide > Explanation for more information.';
}
.htCore th:nth-child(8):after{
    content: 'The original units for each constituent and type can be found in About -> Learn More. Trends are reported for the full tend period. They are not reported on a per year basis.';
}
.htCore th:nth-child(7):after{
    content: 'A confidence interval is the interval that contains the true trend with the given likelihood. For example, for a 90% confidence interval, we can say we are 90% confident that the true trend is in the reported confidence interval, or that 90% of the hypothetically observed confidence intervals will hold the true trend.';
}
.htCore th:nth-child(6):after,
\.htCore th:nth-child(11):after{
    content: 'A confidence interval is the interval that contains the true trend with the given likelihood. For example, for a 90% confidence interval, we can say we are 90% confident that the true trend is in the reported confidence interval, or that 90% of the hypothetically observed confidence intervals will hold the true trend.';
}
.htCore th:nth-child(9):after,
.htCore th:nth-child(10):after{
    content: 'A confidence interval is the interval that contains the true trend with the given likelihood. For example, for a 90% confidence interval, we can say we are 90% confident that the true trend is in the reported confidence interval, or that 90% of the hypothetically observed confidence intervals will hold the true trend. The original units for each constituent and type can be found in About -> Learn More.';
}
.htCore th:nth-child(5):after{
    content: 'Trends are reported for the full trend period. They are not reported on a per year basis.';
}

.htCore th .relative:before{
    content: '?';
    display: block;
    padding-left: 5px;
    width: 100%;
    position: absolute;
    top: 90px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    line-height: 1.8em;
    box-sizing: border-box;
    padding-right: 4px;
    font-size: 7pt;
    padding-bottom: 5px;
    margin-left: 5px;
}
.htCore th:nth-child(1) .relative:before,
.htCore th:nth-child(3) .relative:before,
.htCore th:nth-child(11) .relative:before{
    display: none;
}



/*Alert*/
.alert-box{
  display: block;
  position: fixed;
  top: 65px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  box-sizing: border-box;
  padding: 15px;
  background-color: white;
  z-index: 5000000;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: black;
  border-left: 8px solid #379AFF;
  display: none;
}
.alert-box h1{
  display: block;
  font-size: 12pt;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}
.alert-box b{
  display: block;
  font-size: 10pt;
  font-weight: 500;
  padding-top: 5px;
}
